<body>
    <input type="number" placeholder="Enter the second number" id="n1" #loc1 value=""/><br><br>
    <input type="number" placeholder="Enter the second nimber" id="n2" #loc2 value=""/><br><br>
    <button #loc3 value= "+" (click)="fun11(loc1.value,loc2.value,loc3.value)">+</button><br><br>
    <button #loc4 value= "-" (click)="fun11(loc1.value,loc2.value,loc4.value)">-</button><br><br>
    <button #loc5 value= "*" (click)="fun11(loc1.value,loc2.value,loc5.value)">*</button><br><br>
    <button #loc6 value= "/" (click)="fun11(loc1.value,loc2.value,loc6.value)">/</button>
</body>
