<html>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <body>
                <div class="a1">
                        <h3>Responsive Checkout Form</h3>
                    </div>
                    <div class="a2">
                        <p>Resize the browser window to see the effect. When the screen is less than 800px wide, make the two colums stack on top of each other instead of next to each other.</p>
                    </div>
                    
                            <div class="row">
                                
                    <div class="col-sm-4" style="background-color: lightgray;" >
                        <div class="a3">
                        <h5>Billing Address</h5>
                       
                        <label><i class="fa fa-user"></i> Full Name</label><br>
                        <input type="text" placeholder="John M. Doe">
                        <br>
                        <label><i class="fa fa-envelope"></i> Email</label><br>
                        <input type="text" placeholder="john@example.com">
                        <br>
                        <label><i class="fa fa-address-card-o"></i> Address</label><br>
                        <input type="text" placeholder="542 W. 15th Street">
                        <br>
                        <label><i class="fa fa-institution"></i> City</label><br>
                        <input type="text" placeholder="New York">
                        <br>
                        <label>State</label><label>Zip</label><br>
                        <input type="text" placeholder="NY">
                        <input type="text" placeholder="10001"><br><br>
                        <input type="checkbox" checked> Shipping address same as billing
                    </div>
                </div>
                       <div class="col-sm-4" style="background-color: lightgray;">
                           <div class="a4">
                            <h5>Payment</h5>

                            <label>Accepted Cards</label><br>
                            <div class="icon-container">
                                    <span class="fa fa-cc-visa" style="color:navy;"></span>&nbsp;
                                    <i class="fa fa-cc-amex" style="color:blue;"></i>&nbsp;
                                    <i class="fa fa-cc-mastercard" style="color:red;"></i>&nbsp;
                                    <i class="fa fa-cc-discover" style="color:orange;"></i>&nbsp;
                                  </div>
                            
                            
                            <label>Name on Card</label><br>
                            <input type="text" placeholder="john More Doe">
                          
                            <label>Credit card number</label><br>
                            <input type="text" placeholder="1111-2222-3333-4444">
                            <br>
                            <label>Exp Month</label><br>
                            <input type="text" placeholder="September">
                            <br>
                            <label>Exp Year</label><label>CVV</label><br>
                            <input type="text" placeholder="2018">
                            <input type="text" placeholder="352">
                        </div>
                    </div>
               
                            <div class="col-md-4">
                            <div class="container">
                                <h4>Cart</h4>
                            </div>
                        </div>
                        
                            </div>
                            <button class="btn btn-success col-md-11">Continue to checkout</button>
                        <!-- <div class="col-25">
                            <div class="container">
                              <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>4</b></span></h4>
                              <p><a href="#">Product 1</a> <span class="price">$15</span></p>
                              <p><a href="#">Product 2</a> <span class="price">$5</span></p>
                              <p><a href="#">Product 3</a> <span class="price">$8</span></p>
                              <p><a href="#">Product 4</a> <span class="price">$2</span></p>
                              <hr>
                              <p>Total <span class="price" style="color:black"><b>$30</b></span></p>
                            </div>
                          </div> -->
        </body>
   
</html>
