 table{
  width: 80%;
  border: 1px solid gray;
  font-size: 18px;
  margin: 12px;
}
input[type=text]{
    width: 80%;
    font-size: 18px;
    border: 1px solid gray;
    padding: 15px;
    margin: 15px;
    background:"../../assets/search.jpg" width="30px" height="20px"
    
}
th,td{
    text-align: text;
    padding: 12px;
}
tr{
    border-bottom: 1px solid gray;
}
th{
    background-color:lightgrey;
} 