input[type=text] {
    width: 15%;
    padding: 8px;
    border: none;
    background-color:lavender;
  
  }
  input[type=password] {
    width: 15%;
    padding: 8px;
    border: none;
    background-color:lavender;
  
  }
  .b{
    text-align: center;
    background-color: orange;
    
   
}