<form [formGroup]="reg">
    <h1>Registration Form</h1>
    Name:
    <input type="text" formControlName="name" placeholder="Enter Name"><br><br>
    Email id:
    <input type="text" name="emailid" formControlName="email" placeholder="Enter Email-id" ><br><br>
    Password:
    <input type="password" name="passwd" formControlName="password" placeholder="Enter Password" ><br><br>
    Mobile No.:
    <input type="number" name="mobile" formControlName="mobile" placeholder="Enter Mobile.no"><br><br>
    Address:
    <input type="text" name="address" formControlName="address" placeholder="Enter Address"><br><br>
    Gender:<select formControlName="gender">
        <option>Male</option>
        <option>Female</option>
    </select><br><br>
    <button (click)="save(reg)">Save</button>&nbsp;
    <button (click)="login()">Login</button>
    
</form>
