

        <div class=b>
        <h1>Registration Form</h1><br><br><br>
        Id:
        <p><input type="text" [(ngModel)]="rand"></p><br><br>
        Name:
        <p><input type="text"  placeholder="Enter Name"></p><br><br>
        Email id:
        <p><input type="text"  placeholder="Enter email"></p><br><br>
        Password:
        <p><input type="password" placeholder="Enter Password"></p><br><br>
        Mobile NO:
        <p><input type="text" placeholder="Enter Mobile No."></p><br><br>
        <button (click)="submit()">Submit</button>