h1{
    color: navy;
    border: 1px solid navy;
    width: 70%;
    font-size: 25px;
     padding-left: 45px; 
     margin-top: 20px;
     margin-left: 15%;
}
div{
    margin-left: 25px;
}