<!-- <p id="c" id="d" class="e" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde distinctio exercitationem fugiat in esse dolorum iusto eius! Libero totam, vel deleniti ea eveniet ullam distinctio, maiores repellat voluptas corrupti reiciendis.</p> -->

    <div class="row">
            <div class="col-sm-9">hii
    
    
                </div>
                
                
                <div  class="col-sm-2">hiii
                        
                </div>
    </div>
