<form [formGroup]="reg">
    <!-- <form> -->
    <body>
    <div class=b>
    <h1>Registration Form</h1><br><br><br>
    <div>
    <!-- <div class="form-group"> -->
        <label for="ename">Ename</label>
        <input required id="ename" name="ename" [(ngModel)]="enamenew"
        type="text" class="form-control" #ename=ngModel>

    </div>
    <!-- Name:
    <p><input  type="text" formControlName="name" placeholder="Enter Name" required></p><br><br>
    Email id:
    <p><input type="text" formControlName="email" placeholder="Enter email"></p><br><br>
    Password:
    <p><input type="password" formControlName="password" placeholder="Enter Password"></p><br><br>
    Mobile NO:
    <p><input type="text" formControlName="mobile" placeholder="Enter Mobile No."></p><br><br>
    Gender:
   <p> <select  formControlName="gender">
        <option>Male </option>
        <option>Female</option>
    </select></p><br><br><br>  --><br><br>
    <button (click)="submit(reg)">Submit</button>&nbsp;
    <button (click)="login()">Login</button>
   <!-- <p> <a [routerLink]="['']">Click here to go Back</a></p> -->
   
</div>
</body>
</form>
